// make customizations to bootstrap colors and other variables here
$color-primary: #fb7b01;
$color-secondary: #3e627c;
$color-dark: #202020;

// function to handle change in variables to bootstrap colors
$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "dark": $color-dark,
);
